body {
  background-color: #f0eff4;
  font-family: "Open Sans", sans-serif;
}

header {
  text-align: center;
  margin-top: 50px;
}

main {
  /* width: 80%; */
  max-width: 60rem;
  min-width: 12rem;
  margin: 3rem auto;
  padding: 1.25rem;
  background-color: #070707;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 black;
}

figcaption,
h2,
span,
main p {
  color: white;
}

h1 {
  margin: 0;
}

figure {
  text-align: center;
}

figure img {
  width: 65%;
  min-width: 9rem;
  border-radius: 10px;
}

figcaption {
  font-style: italic;
  opacity: 0.8;
  margin-top: 5px;
}

ul {
  list-style: none;
}

li p {
  margin-top: 5px;
}

a {
  color: #05b2dc;
}

.timeline-section {
  margin: 0 auto;
  width: 60%;
}

.timeline-year {
  margin-top: -4px;
  margin-bottom: 0;
  font-style: italic;
}

.wiki-link p {
  margin-bottom: 5px;
  margin-top: 20px;
}

.bold {
  font-weight: bold;
}
